@use './variables' as *;

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    color: $fontColor;
    background-color: $buttonColor;
    border: none;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;

    padding: 5px 10px 5px 10px;
}
