@use './variables' as *;

main {
    .landscape{
        width: 100%;
        height: 400px;

        background-image: url('../assets/home-image-5.jpg');
        background-size: cover;
        // background-repeat: no-repeat;
    }
}
