$buttonColor: #e4a436;
$primaryColor: #345231;
$secondaryColor: #709b6b;
$fontColor: #1f1f1f;
$shadeColor: #f6f6f6;

$mainFont: 'Abril Fatface', cursive;
$bodyFont: 'Montserrat', sans-serif;
$menuFont: 'Montserrat', sans-serif;